<div class="col-2 news-card d-grid align-center">
    <a href="{{url}}"><img src="{{imageurl}}" alt="{{source}}"></a>
    <hr>
    <div class="news-card-body">
        <a href="{{url}}">{{title}}</a>
    </div>
</div>